.App {
  text-align: center;
}



.App-header {
  font-family: 'Cascadia Code';
  background-color: #1e2129;
  background-image: url('../public/visualcode.webp');
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    padding: 1rem;
    
    
    transition: .3s ease-in-out;

   
    
  }

  .navbar{
    background-color: #1e2129df;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
    margin-bottom: 5rem;
    transition: .3s ease-in-out;
    animation: navbar .4s ease-in-out .5s both reverse;
    
    &:hover {
      box-shadow: 0 3px 10px rgba(144, 218, 255, 0.5);
    }
    #navbaritems{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      
      
    }
    a{
      
      font-size: 1rem;
      padding: 2rem;
      gap: 1rem;
      transition: scale .2s;

      &:hover{
        text-decoration: underline;
        scale: 1.1;
        transition: scale .5s;
        cursor: pointer;
      }
    }
    h1 {
      opacity: 0;

      animation: aparecer .5s ease-in-out 1s forwards reverse
      
    }
    a:first-child{
      opacity: 0;


      animation: aparecerderecha .4s ease-in-out 1.5s forwards reverse;

    }

    a:nth-child(2){
      opacity: 0;


      animation: aparecerderecha .4s ease-in-out 1.7s forwards reverse;

    }

    a:nth-child(3){
      opacity: 0;


      animation: aparecerderecha .4s ease-in-out 1.9s forwards reverse;

    }

    a:nth-child(4){
      opacity: 0;


      animation: aparecerderecha .4s ease-in-out 2.1s forwards reverse;

    }

    a:nth-child(5){
      opacity: 0;


      animation: aparecerderecha .4s ease-in-out 2.3s forwards reverse;

    }
  }

  

  

  .header-cards {
    
    margin-top: 14rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-inline: 3rem;
    
    
    }
    .cards-card{
      border-radius: 3px;
      background-color: #1e2129e4;
      box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem ;

      transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 10px rgba(144, 218, 255, 0.5);
    }
  }
}

@media (width < 980px) {
  .App-header .navbar {
    justify-content: center;
  }
}



@keyframes aparecer {
  from {
    opacity: 1;
    transform: translateX(0px)
  }
  
  to {
    opacity: 0;
    transform: translateX(50px)
  }
}

@keyframes aparecerderecha {
  from {
    opacity: 1;
    transform: translateY(0px)
  }
  
  to {
    opacity: 0;
    transform: translateY(-30px)
  }
}

@keyframes navbar {
  from {
    
    transform: translateY(0px)
  }
  
  to {
    
    transform: translateY(-100px)
  }
}

.App-main {
  padding-top: 3rem;
  font-family: 'Cascadia Code';
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 3rem;

  h3 {
    border-radius: 3px;
    padding: 1rem;
    background-color: #1e2129;
    margin-bottom: 5rem;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
    transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 10px rgba(144, 218, 255, 0.5);
    }
  }

  .main-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 3rem;
    margin-inline: 3rem;
    
    }
    .cards-card{
      border-radius: 3px;
      box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem ;
      background-color: #1e2129;
      

      transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 10px rgba(144, 218, 255, 0.5);
    }
  }

  .cards-software{
    border-radius: 3px;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem 2rem ;
    max-width: 14rem;
    background-color: #1e2129;
    

    transition: .3s ease-in-out;

  &:hover {
    box-shadow: 0 3px 10px rgba(144, 218, 255, 0.5);
  }
}
  .software-logo {
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    
    
  }
  .software-logo2 {
    width: 10rem;
    padding: 0.1rem;
    border-radius: 5px;
    
  }
}

.logos-react{
  width: 15rem;

}
.main-fieldset{
  display: flex;
  align-items: center;
  max-width: 40rem;
  max-height: 430rem;
  font-size: large;
  padding: 2rem;
  margin-bottom: 4rem;
  gap: 3rem;
  border: none;
}

#fotoyo{
  
  width: 15rem;
  box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.class-footer{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: #1e2129;
  max-height: 50px;
  
  
  .footer-rights{
    font-weight: bold;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-content:right;
  

  
  
}