.App {
  text-align: center;
}



.App-header {
  font-family: 'Cascadia Code';
  background-color: #282c34;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    padding: 1rem;
    margin-bottom: 5rem;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
    transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 3px rgba(144, 218, 255, 0.5);
    }
  }

  .header-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    
    }
    .cards-card{
      box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem ;

      transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 3px rgba(144, 218, 255, 0.5);
    }
  }
}

.App-main {
  font-family: 'Cascadia Code';
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 3rem;

  h3 {
    padding: 1rem;
    margin-bottom: 5rem;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
    transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 3px rgba(144, 218, 255, 0.5);
    }
  }

  .main-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 3rem;
    
    }
    .cards-card{
      box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem ;
      

      transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 3px rgba(144, 218, 255, 0.5);
    }
  }

  .cards-software{
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem ;
    

    transition: .3s ease-in-out;

  &:hover {
    box-shadow: 0 3px 3px rgba(144, 218, 255, 0.5);
  }
}
}

.logos-react{
  width: 15rem;
}